@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.gradient1{
  background: linear-gradient(to bottom, #1e1e29, #0e1018);
}
.gradient2{
  background: linear-gradient(to top, #1e1e29, #1e1e29);
}
.gradient3{
  background: linear-gradient(to bottom, #e7e7ee, #7a7a83);
}

.gradient4{
  background: linear-gradient(to top, #e7e7ee, #7a7a83);
}

.shadow-lg {
  box-shadow: 0 4px 30px rgba(0, 255, 255, 0.3);
}